/*****************************************\

  #BOX-TITLE
  
\*****************************************/

/*doc
---
title: Box
name: box
category: Components
---

Navigation on each page.

```html_example
<div class="Box">
  This is a box.
</div>
```
```html_example
<div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">
      Box title
    </h3>
  </div>
  <div class="Box-body">
    Box body
  </div>
  <div class="Box-footer">
    Box footer
  </div>
</div>
```
```html_example
<div class="Box">
  <div class="Box-header">
    Box header
  </div>
  <div class="flash flash-full">
    <button class="flash-close js-flash-close"><%= octicon "x" %></button>
    Flash message with close button.
  </div>
  <div class="flash flash-full flash-success">
    <%= octicon("check") %> Flash success with an icon.
  </div>
  <div class="flash flash-full flash-warn">
    <%= octicon("alert") %> Flash warning with an icon.
  </div>
  <div class="flash flash-full flash-error">
    Flash error inside a Box.
  </div>
  <div class="Box-body">
    Box body
  </div>
</div>
```
*/