/*****************************************\

  #NAVIGATION-TITLE
  
\*****************************************/

/*doc
---
title: Navigation
name: navigation
category: Components
---

Navigation on each page.

```html_example
<nav class="UnderlineNav">
  <div class="UnderlineNav-body">
    <a href="#html5" role="tab" title="HTML5" class="UnderlineNav-item selected">HTML5</a>
    <a href="#css3" role="tab" title="CSS3" class="UnderlineNav-item">CSS3</a>
    <a href="#javascript" role="tab" title="Javascript" class="UnderlineNav-item">Javascript</a>
    <a href="#cloud9" role="tab" title="Cloud 9" class="UnderlineNav-item">Cloud9</a>
    <a href="#git" role="tab" title="Git" class="UnderlineNav-item">Git</a>
    <a href="#github" role="tab" title="Github" class="UnderlineNav-item">Github</a>
  </div>
</nav>
```
*/
